:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097A7;
    --gris: #757575;
    --gris-claro: #DFE9f3;
}

html {
    font-size: 62.5%;
    
}

body {
    font-size: 16px;
}


.sombra {
    box-shadow: 0px 5px 15px 0px rgba(112,112,122,0.48);
    border-radius: 1rem;
    padding: 2rem;
    background-color: var(--blanco);
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100% );
}


h1 {
    text-align: center;
    font-size: 4rem;
}

h1 span {
    font-size: 8rem;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 2rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: .3rem;
    width: 90%;
    text-align: center;
    border: none;
    width: fit-content;
}

.hero {
    background-image: url(/img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    margin-bottom: 2rem;
}

.contenido-hero {
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}

.contenido-hero .ubicacion {
    display: flex;
    align-items: flex-end;
}

.contenedor h2 {
    text-align: center;
}

.servicios {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icono {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.servicio p {
    text-align: center;
    padding: 2rem;
}

.servicio h3 {
    color: var(--secundario);
    font-weight: 700;
}