:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097A7;
    --gris: #757575;
    --gris-claro: #DFE9f3;
}

html {
    font-size: 62.5%;
    
}

.sombra {
    box-shadow: 0px 5px 15px 0px rgba(112,112,122,0.48);
    border-radius: 1rem;
    padding: 2rem;
    background-color: var(--blanco);
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100% );
}

body {
    font-size: 16px;
    background: linear-gradient(12deg,#00e9ff 30%, #00ff00 70%);
}

h1 {
    text-align: center;
    font-size: 4rem;
}

h1 span {
    font-size: 8rem;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 2rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: .3rem;
    width: 90%;
    text-align: center;
    border: none;
}



.navegacion-principal a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
    color: var(--blanco);
    background: var(--secundario);
    transition: all .3s;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
}